

// Logo
.logo {
  background-color: rgba(#fff, .2);
  display: inline-block;
  transform: skewX(-18deg);
  
  & > * {
    transform: skewX(18deg);

  }

  &__main {
    font-size: 9.5rem;
    font-weight: 900;
    letter-spacing: 1.5rem;
    background: linear-gradient(to bottom, $primary-light, $primary-dark);
    -webkit-background-clip: text;
    color: transparent;
  }

  &__sub {
    font-size:4.5rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    color: $color-grey-light-1;
  }
}