// COLORS
$primary: #eb2f64;
$primary-light: #FF3366;
$primary-dark: #BA265D;

$secondary-light: #3A6073;
$secondary-dark: #16222a;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ddd;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 50%; // 1rem = 8px
  
  // @media only screen and (min-width:  37.55em) { // 600px
  //   font-size: 50%; // 1rem = 8px
  // }
  
  @media only screen and (min-width: 56.25em) { // 900px
    font-size: 62.5%; // 1rem = 10px (10 / 16px default)
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: $color-grey-light-1;
  background: linear-gradient(to bottom, $secondary-light, $secondary-dark);
  background-size: cover;
  background-repeat: no-repeat;
}

// highlighted text
::selection {
  background-color: $primary-light;
  color: $color-grey-light-1;
}