.container {
  // display: grid;
  // grid-template-columns:
  //   [full-start] 1fr
  //   [center-start] minmax(min-content, 2fr)
  //   [center-end] 1fr
  //   [full-end];
  // grid-template-rows: min-content 1fr;
  // grid-gap: 2rem;

  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  // justify-content: stretch;
  // align-items: center;
}

.header {
  flex: 1 0 20%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &--full-page {
    flex-direction: column;
    justify-content: center;
  }

  &--full-page .logo {
    transform: scale(.50);
  }
}

.results {
  flex: 3 1 80%;
  max-width: 75rem;
  overflow: scroll;
  
  display: flex;
  flex-direction: column;

  &__item {
    color: $color-grey-dark-1;
    background-color: $color-grey-light-1;
    text-decoration: none;
    padding: 2.5rem 4rem;
    margin: 1rem;
    border-radius: .5rem;
    transform: scale(.98);
    transition: all .25s ease;

    &:hover {
      transform: translateY(-3px) scale(1);
      box-shadow: 0 1rem 2rem rgba(#000,0.6);
    }

    &:active,
    &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba(#000,0.6);
    }
  }

  &__title {
    font-size: 2.5rem;
  }
  
  &__text {
    font-size: 1.5rem;
  }
}
