.search {

  &__input {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: inherit;
    line-height: inherit;
    color: $color-grey-dark-1;
    background-color: $color-grey-light-1;
    border: none;
    padding: 1.5rem 4rem;
    border-radius: 100px;
    flex-grow: 1;
    transition: all .2s;

    &:focus {
      outline: none;
      background-color: $color-grey-light-2;
    }

     // input placeholder text
    &::-webkit-input-placeholder {
      font-weight: 100;
      color: $color-grey-dark-2;
    }
  }
}

.header--full-page .search__input {
    flex-grow: 0;
    width: 35rem;
}